.container {
  background: gray;
  width: auto;
  color: white;
  width: 80%;
}

.quadrados1 {
  width: 100px;
  height: 100px;
  background: reD;
  position: relative;
  top: 75px;
  left: 50px;
}

.quadrados2 {
  width: 100px;
  height: 100px;
  background: yellow;
}

.quadrados3 {
  width: 100px;
  height: 100px;
  background: black;
}

.quadrados4 {
  width: 100px;
  height: 100px;
  background: pink;
}
